# Default ignored files
/shelf/
/caches/
/libraries/
/compiler.xml
/modules.xml
/navEditor.xml
/assetWizardSettings.xml
/appInsightsSettings.xml
/copilotDiffState.xml
/deploymentTargetSelector.xml
/deviceManager.xml
/markdown.xml
/planningMode.xml
/gradle.xml
/misc.xml
/workspace.xml
